In [21]:
import os
import pandas as pd

from dotenv import load_dotenv
load_dotenv()

from urllib.parse import quote_plus
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://{user}:{password}@45.79.16.246:30001/postgres"
        .format(
            user = os.environ["DATAHACK_DB_USER"],
            password = os.environ["DATAHACK_DB_PASS"]      
        )
    )
pd.read_sql_query("SELECT * FROM mtcars", engine)

     mpg  cyl   disp     hp  drat     wt   qsec   vs   am  gear  carb
0   21.0  6.0  160.0  110.0  3.90  2.620  16.46  0.0  1.0   4.0   4.0
1   21.0  6.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0   4.0   4.0
2   22.8  4.0  108.0   93.0  3.85  2.320  18.61  1.0  1.0   4.0   1.0
3   21.4  6.0  258.0  110.0  3.08  3.215  19.44  1.0  0.0   3.0   1.0
4   18.7  8.0  360.0  175.0  3.15  3.440  17.02  0.0  0.0   3.0   2.0
5   18.1  6.0  225.0  105.0  2.76  3.460  20.22  1.0  0.0   3.0   1.0
6   14.3  8.0  360.0  245.0  3.21  3.570  15.84  0.0  0.0   3.0   4.0
7   24.4  4.0  146.7   62.0  3.69  3.190  20.00  1.0  0.0   4.0   2.0
8   22.8  4.0  140.8   95.0  3.92  3.150  22.90  1.0  0.0   4.0   2.0
9   19.2  6.0  167.6  123.0  3.92  3.440  18.30  1.0  0.0   4.0   4.0
10  17.8  6.0  167.6  123.0  3.92  3.440  18.90  1.0  0.0   4.0   4.0
11  16.4  8.0  275.8  180.0  3.07  4.070  17.40  0.0  0.0   3.0   3.0
12  17.3  8.0  275.8  180.0  3.07  3.730  17.60  0.0  0.0   3.0   3.0
13  15.2  8.0  275.8  180.0  3.07  3.780  18.00  0.0  0.0   3.0   3.0
14  10.4  8.0  472.0  205.0  2.93  5.250  17.98  0.0  0.0   3.0   4.0
15  10.4  8.0  460.0  215.0  3.00  5.424  17.82  0.0  0.0   3.0   4.0
16  14.7  8.0  440.0  230.0  3.23  5.345  17.42  0.0  0.0   3.0   4.0
17  32.4  4.0   78.7   66.0  4.08  2.200  19.47  1.0  1.0   4.0   1.0
18  30.4  4.0   75.7   52.0  4.93  1.615  18.52  1.0  1.0   4.0   2.0
19  33.9  4.0   71.1   65.0  4.22  1.835  19.90  1.0  1.0   4.0   1.0
20  21.5  4.0  120.1   97.0  3.70  2.465  20.01  1.0  0.0   3.0   1.0
21  15.5  8.0  318.0  150.0  2.76  3.520  16.87  0.0  0.0   3.0   2.0
22  15.2  8.0  304.0  150.0  3.15  3.435  17.30  0.0  0.0   3.0   2.0
23  13.3  8.0  350.0  245.0  3.73  3.840  15.41  0.0  0.0   3.0   4.0
24  19.2  8.0  400.0  175.0  3.08  3.845  17.05  0.0  0.0   3.0   2.0
25  27.3  4.0   79.0   66.0  4.08  1.935  18.90  1.0  1.0   4.0   1.0
26  26.0  4.0  120.3   91.0  4.43  2.140  16.70  0.0  1.0   5.0   2.0
27  30.4  4.0   95.1  113.0  3.77  1.513  16.90  1.0  1.0   5.0   2.0
28  15.8  8.0  351.0  264.0  4.22  3.170  14.50  0.0  1.0   5.0   4.0
29  19.7  6.0  145.0  175.0  3.62  2.770  15.50  0.0  1.0   5.0   6.0
30  15.0  8.0  301.0  335.0  3.54  3.570  14.60  0.0  1.0   5.0   8.0
31  21.4  4.0  121.0  109.0  4.11  2.780  18.60  1.0  1.0   4.0   2.0

In [51]:
print(engine.table_names())

['mtcars', 'hf_samsha_providers', 'hf_samsha_programs', 'pp_sep_site_participants', 'pp_sep_site_exchanges', 'pct_indiv_acceptTransportHx_postNaloxone']

In [46]:
pp_sep_site_exchanges =pd.read_sql_query("SELECT * FROM pp_sep_site_exchanges", engine)

In [50]:
pp_sep_site_participants = pd.read_sql_query("SELECT * FROM pp_sep_site_participants", engine)
#hf_samsha_providers = pd.read_sql_query("SELECT * FROM hf_samsha_providers", engine)
#hf_samsha_programs = pd.read_sql_query("SELECT * FROM hf_samsha_programs", engine)
pct_indivaccept_TransportHx_postNaloxone = pd.read_sql_query("SELECT * FROM pct_indiv_acceptTransportHx_postNaloxone", engine)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "pct_indiv_accepttransporthx_postnaloxone" does not exist
LINE 1: SELECT * FROM pct_indiv_acceptTransportHx_postNaloxone
                      ^

[SQL: SELECT * FROM pct_indiv_acceptTransportHx_postNaloxone]
(Background on this error at: http://sqlalche.me/e/f405)

In [31]:
pp_sep_site_exchanges.to_csv("pp_sep_site_exchanges.csv")

In [32]:
pp_sep_site_participants.to_csv("pp_sep_site_participants.csv")

In [33]:
pp_sep_site_exchanges.head(5)

,site_id,visit_month,syringes_returned,syringes_dispensed,no_exchanging_for
0,1.0,2019-01-01,5625.0,6175.0,48.0
1,1.0,2019-02-01,12700.0,13960.0,89.0
2,1.0,2019-03-01,8862.0,10470.0,76.0
3,1.0,2019-04-01,6130.0,7070.0,64.0
4,1.0,2019-05-01,9369.0,9830.0,66.0

In [34]:
pp_sep_site_participants.head(5)

   site_id visit_month  count_distinct_participants
0      1.0  2019-01-01                         42.0
1      1.0  2019-10-01                         51.0
2      1.0  2019-11-01                         73.0
3      1.0  2019-12-01                         54.0
4      1.0  2019-02-01                         74.0

In [37]:
pp_sep_site_exchanges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 5 columns):
site_id               141 non-null float64
visit_month           142 non-null object
syringes_returned     142 non-null float64
syringes_dispensed    142 non-null float64
no_exchanging_for     142 non-null float64
dtypes: float64(4), object(1)
memory usage: 5.7+ KB